{% extends 'myapp/common_base.html' %}
{% block content %}
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">File List</h3></div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!-- Timelime example  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- The time line -->
                    <div class="timeline">
                        <!-- timeline time label -->
                        <div class="time-label"><span class="text-bg-success">3 Jan. 2023</span></div>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <div>
                            <i class="timeline-icon bi bi-camera-film text-bg-info"></i>
                            <div class="timeline-item">
                                <span class="time"> <i class="bi bi-clock-fill"></i> 5 days ago </span>
                                <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
                                <div class="timeline-body">
                                    <div class="ratio ratio-16x9">
                                        <iframe
                                                src="https://www.youtube.com/embed/tMWkeBIohBs"
                                                allowfullscreen
                                        ></iframe>
                                    </div>
                                </div>
                                <div class="timeline-footer">
                                    <a href="#" class="btn btn-sm text-bg-warning"> See comments </a>
                                </div>
                            </div>
                        </div>
                        <!-- END timeline item -->
                        <div><i class="timeline-icon bi bi-clock-fill text-bg-secondary"></i></div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content-->
{% endblock %}
